@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background: #ddd;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.container {
  max-width: 750px;
  margin: auto;
}

.about {
  margin: 15px auto;
}

.about img {
  max-width: 300px;
  display: inline;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.about h1 {
  margin: 0;
}
.about p {
  margin: 0;
}

.contacts a {
  color: #333;
}

.contacts h3 {
  margin: 0;
  margin-bottom: 5px;
}

.card {
  background: white;
  padding: 15px 15px;
  border-radius: 10px;
  margin: 15px 0px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transition: background-color 0.5s;
  box-sizing: border-box;
}

.card h3 {
  margin: 0;
}

.card:hover {
  transition: all 0.5s;

  background: #eee;
}

.list {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.list li {
  list-style: none;
  margin: 5px 0;
  padding: 0 5px;

  border-left: 3px solid black;
  border-radius: 10px;

  transition: margin-left 0.5s;
}

.list li:hover {
  margin-left: 30px;
  transition: margin-left 0.5s;
}

.list li:nth-child(odd) {
  color: royalblue;
}
.list li:nth-child(even) {
  color: coral;
}

@media (max-width: 800px) {
  .about {
    text-align: center;
  }

  .contacts {
    text-align: center;
    /* margin: auto; */
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: coral;
  font-size: 2rem;
  transition: all 0.2s;
}
a:active {
  color: darkblue;
}
.form-group {
  margin-top: 10px;
}

.form-group input,
.form-group textarea {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid royalblue;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;

  border: 3px solid royalblue;
}

.form-group textarea {
  resize: vertical;
}

.btn {
  font-family: inherit;
  padding: 0px 15px;
  border: 1px solid royalblue;
  border-radius: 5px;
  margin-right: 10px;
}

.btn:disabled {
  background: rgba(200, 100, 100, 0.25);
  border: 1px solid rgb(200, 100, 100);
}
